.satisfy {
  font-family: 'Satisfy', cursive;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.cafe {
  color: #572f0b;
}
.blanco {
  color: #fff;
}
.floating-social {
  position: fixed;
  right: 10px;
  top: 55px;
  z-index: 10;
  text-align: center;
  display: none;
}
body {
  background-color: #fff;
  font-family: 'Lato', sans-serif;
/*Products*/
/*events*/
}
body .navbar-default {
  background-color: transparent;
  border: none;
  transition: background-color 0.8s ease;
}
body .navbar-default.active,
body .navbar-default.active_ {
  background-color: rgba(0,0,0,0.8);
  transition: all 0.8s ease;
}
body .navbar-default .navbar-toggle {
  border: none;
}
body .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
body .navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
  height: 4px;
  width: 35px;
}
body .navbar-default .navbar-brand {
  color: transparent;
  font-size: 2.6em;
  padding-top: 10px;
  padding-bottom: 0;
}
body .navbar-default .navbar-brand.active {
  color: #fff;
  transition: all 1.5s ease;
}
body .row.wood {
  background: transparent url("../../images/madera-vertical-mobile.jpg") repeat-x center -40px;
  text-align: center;
  color: #fff;
  padding-bottom: 130px;
}
body .row.wood.bricks {
  background: transparent url("../../images/brick_wall_mobile.jpg") repeat-x center -30px;
}
body .logo-top.icon-garraf {
  font-size: 10em;
  color: #fff;
  line-height: 0.9em;
}
body .logo-top.icon-garrafon {
  font-size: 10em;
  color: #000;
  line-height: 0.9em;
}
body .slogan.oswald {
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  width: 300px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 1.8em;
}
body .slogan.oswald .satisfy {
  font-size: 1.2em;
  z-index: 2;
  position: relative;
}
body .slogan.oswald.garrafon {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  color: #000;
}
body .helados-mobile {
  width: 300px;
  margin: -150px auto 0 auto;
  overflow: hidden;
  position: relative;
  height: 300px;
  display: block;
  text-align: center;
  opacity: 1;
}
body .helados-mobile img {
  width: 100px;
  height: auto;
  position: absolute;
  display: block;
}
body .helados-mobile img.img-left,
body .helados-mobile img.img-right {
  width: 120px;
  z-index: 1;
}
body .helados-mobile img.img-left {
  left: 20px;
}
body .helados-mobile img.img-right {
  right: 20px;
  width: 110px;
}
body .helados-mobile img.img-center {
  width: 226px;
  z-index: 2;
  left: 50%;
  margin-left: -113px;
}
body .helados-mobile img.img-garrafa {
  width: 160px;
  display: inline-block;
  position: relative;
}
body .helados-mobile img.img-productos {
  width: 260px;
  display: inline-block;
  position: relative;
}
body .helados-mobile img.img-mapa {
  width: 300px;
}
body .helados-mobile.garrafon {
  z-index: 1;
}
body .helados-mobile.map-branches {
  margin-top: -160px;
}
body .helados-mobile.eventos {
  margin-top: -140px;
  height: 190px;
}
body .slick-slider.helados-mobile {
  margin-bottom: 60px;
  overflow: visible;
}
body .slick-slider.helados-mobile .slick-arrow {
  display: none !important;
  position: absolute;
  top: 100px;
  z-index: 10;
}
body .slick-slider.helados-mobile .slick-slide {
  display: inline-block;
  float: left;
  height: 300px;
}
body .slick-slider.helados-mobile .slick-slide img {
  display: block;
  height: auto;
  opacity: 1;
  width: 300px;
}
body .slick-slider.helados-mobile .slick-dots {
  padding: 0;
  bottom: 30px;
  position: relative;
}
body .slick-slider.helados-mobile .slick-dots li {
  display: inline-block;
  background: rgba(87,47,11,0.6);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin: 0 7px;
}
body .slick-slider.helados-mobile .slick-dots li.slick-active {
  background: #572f0b;
}
body .slick-slider.helados-mobile .slick-dots li button {
  background: transparent;
  color: transparent;
  border: none;
}
body .m-top-55 {
  margin-top: -55px;
  position: relative;
  z-index: 1;
}
body .text-center.eventos {
  margin-top: -100px;
}
body .home-prod {
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;
}
body .home-prod p {
  margin: 0 auto;
  padding: 20px 0;
  width: 90%;
}
body .home-prod p.oswald.cafe {
  font-size: 2em;
  position: relative;
  z-index: 2;
}
body .home-prod p.oswald.cafe.garrafon {
  font-size: 1.6em;
  line-height: 1em;
}
body .home-prod a.cafe {
  font-size: 0.9em;
  vertical-align: middle;
}
body .home-prod a.cafe span {
  vertical-align: middle;
}
body .home-prod .info .text-left {
  line-height: 1.2em;
}
body .home-prod .info .text-left .satisfy.cafe {
  font-size: 1.6em;
  line-height: 1.4em;
}
body .m-top-65 {
  margin-top: -65px;
}
body .m-top-230 {
  margin-top: -230px;
}
body .fresh-img {
  width: 190px;
  height: auto;
  display: inline-block;
  text-align: center;
  opacity: 0;
  position: relative;
  z-index: 1;
}
body .fresh-img.garrafon {
  width: 280px;
}
body .shadow-img {
  width: 120px;
  height: auto;
  display: inline-block;
  opacity: 0;
}
body .shadow-img.magictime {
  opacity: 1;
  transition: all 1s ease;
}
body .bricks {
  background: transparent url("../../images/brick_wall_mobile.jpg") repeat-x center top;
  height: 360px;
  display: block;
  padding-top: 40px;
}
body .bricks .icon-garrafon {
  font-size: 8em;
  text-align: center;
  position: relative;
  z-index: 2;
}
body .toppings {
  display: block;
  width: 100%;
  margin: 40px auto 50px auto;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
}
body .toppings .col-xs-6 {
  margin: 15px 0;
}
body .toppings img {
  width: 100%;
  height: auto;
  display: block;
}
body .opacity-1 {
  opacity: 1;
}
body .font14 {
  font-size: 22px;
}
body .sabores {
  line-height: 1.4em;
}
body .b-top {
  border-top: 2px solid #572f0b;
}
body .b-bottom {
  border-bottom: 2px solid #572f0b;
}
body p.oswald.cafe.b-top.b-bottom {
  line-height: 0.9em;
}
body .slick-slider.paletas .slick-arrow {
  background: transparent;
  border: none;
  color: transparent;
}
body .slick-slider.paletas .slick-dots {
  padding: 0;
}
body .slick-slider.paletas .slick-dots li {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  background-color: rgba(87,47,11,0.5);
}
body .slick-slider.paletas .slick-dots li.slick-active {
  background-color: #572f0b;
}
body .slick-slider.paletas .slick-dots li button {
  background: transparent;
  color: transparent;
  border: none;
}
body .slick-slide {
  display: inline-block;
}
body .slick-slide img {
  opacity: 1;
}
body .branches {
  background: transparent url("../../images/paper_texture.jpg") repeat-x center top;
  height: auto;
  display: block;
  padding: 30px 0;
  overflow: hidden;
}
body .branches .container {
  width: 90%;
  margin: 0 auto;
}
body .branches h2.title {
  border-top: 2px solid #572f0b;
  border-bottom: 2px solid #572f0b;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
}
body .branches .address {
  margin-top: 15px;
}
body .branches .address .title {
  font-size: 1.1em;
}
body .branches .address .info {
  padding-left: 20px;
  line-height: 1.2em;
}
body .branches .address a {
  font-size: 0.9em;
  margin-top: 5px;
}
body .branches .address a:hover {
  color: #572f0b;
}
body .sucursal {
  margin-bottom: 15px;
}
body .sucursal h2.title {
  font-size: 1.2em;
  vertical-align: middle;
}
body .sucursal h2.title span {
  color: #000;
  font-size: 1.4em;
  vertical-align: middle;
}
body .sucursal .address {
  padding-left: 25px;
}
body .sucursal .address a {
  font-size: 0.9em;
  font-weight: bold;
  vertical-align: middle;
}
body .sucursal .images {
  border-bottom: 1px solid #572f0b;
  padding-bottom: 20px;
}
body .sucursal .images figure {
  padding: 0;
}
body .sucursal .images img {
  width: 100%;
  height: auto;
  display: block;
}
body .row.all-long {
  margin-top: 50px;
  margin-bottom: 50px;
}
body .row.all-long .top,
body .row.all-long .bottom {
  width: 100%;
  height: 60px;
  background: transparent url("../../images/rasgadura-top-mobile.png") repeat-x center top;
  position: relative;
  z-index: 2;
}
body .row.all-long .bottom {
  background-image: url("../../images/rasgadura-bottom-mobile.png");
  margin-top: -60px;
}
body .row.all-long img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -60px;
  position: relative;
  z-index: 1;
}
body .row.all-long iframe {
  width: 100% !important;
  margin-top: -60px;
}
body .row.all-long #map {
  width: 100%;
  height: 500px;
  display: block;
  margin-top: -60px;
}
body h2.oswald.cafe.text-center {
  margin-top: -90px;
}
body h2.oswald.cafe.text-center.m-top0 {
  margin-top: 0;
}
body h3.title {
  font-size: 1.1em;
}
body .productos {
  line-height: 0.9em;
}
body .icon-ice-cream {
  font-size: 2.8em;
}
body .row.products img {
  margin-top: 0;
}
body .products-menu {
  padding: 0 0 40px 0;
  text-align: center;
}
body .products-menu li {
  display: inline-block;
  padding: 0 20px;
  font-size: 1.4em;
  border-right: 1px solid #fff;
}
body .products-menu li:last-of-type {
  border: none;
}
body .products-menu a {
  color: #fff;
  opacity: 0.5;
  transition: opacity 1.5s ease;
}
body .products-menu a.active {
  opacity: 1;
  transition: opacity 1s ease;
}
body .products-menu a.visited,
body .products-menu a.hover,
body .products-menu a.active {
  text-decoration: none;
}
body .row.all-long.products {
  background: transparent url("../../images/pizarra.jpg") repeat center top;
  margin-top: -58px;
  padding: 80px 0;
}
body .row.all-long.top {
  margin-bottom: 0;
}
body .row.all-long.bottom {
  margin-top: -40px;
}
body .row.all-long .col-xs-6 {
  margin-bottom: 30px;
}
body .satisfy.text-center.blanco {
  font-size: 1em;
}
body .especialidad {
  text-align: center;
  margin: 20px 0 10px 0;
  float: left;
  vertical-align: top;
}
body .especialidad img {
  width: 90%;
  height: auto;
  display: inline-block;
}
body .especialidad img.scone,
body .especialidad img.papas {
  width: 75%;
}
body .especialidad p.satisfy.text-center {
  font-size: 1.3em;
}
body h2.text-center.oswald.aguas {
  font-size: 1.4em;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  width: 260px;
  margin: 0 auto 20px auto;
  padding: 5px 0;
}
body h2.litros {
  padding: 0;
  font-size: 2em;
  position: relative;
  display: block;
  margin-top: 50px;
}
body .litro-img {
  width: 40%;
  height: auto;
  display: inline-block;
}
body .text-center.eventos {
  line-height: 1.4em;
}
body .quotation {
  position: relative;
  width: 80%;
  margin: 100px auto 0 auto;
/* SQUARED TWO */
}
body .quotation p {
  color: #fff;
  margin-bottom: 30px;
}
body .quotation .people {
  background-color: transparent;
  border: 1px solid #fff;
  color: #999;
  padding: 15px 0;
  height: 40px;
  position: relative;
}
body .quotation .people p {
  margin-bottom: 0;
  color: #a0a1a3;
  padding-left: 15px;
}
body .quotation .people p:hover {
  cursor: pointer;
}
body .quotation .people button {
  position: absolute;
  background-color: #82cec1;
  display: inline-block;
  right: -2px;
  top: 0;
  border: none;
  height: 100%;
  width: 40px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
body .quotation .people button:active,
body .quotation .people button:focus,
body .quotation .people button:visited,
body .quotation .people button:hover {
  outline: 0;
}
body .quotation .people-population {
  padding: 15px;
  list-style: none;
  background: #f1f1f1;
  width: 100%;
  top: 170px;
  position: absolute;
  opacity: 0;
  transition: opacity 0.2s ease, top 0.2s ease;
}
body .quotation .people-population.visible {
  opacity: 1;
  top: 155px;
  z-index: 10;
  transition: all 0.3s ease;
}
body .quotation .people-population.visible li a {
  display: block;
  opacity: 1;
}
body .quotation .people-population li {
  font-size: 1em;
  padding: 5px 0;
  margin-bottom: 5px;
}
body .quotation .people-population li a {
  color: #a0a1a3;
  display: none;
}
body .quotation .disclaimer {
  padding: 15px 0px;
  line-height: 1.4em;
  color: #fff;
}
body .quotation .disclaimer .icon-ice-cream.balls {
  display: none;
  transition: all 2.5s ease;
}
body .quotation .disclaimer .icon-ice-cream.balls.visible {
  display: inline-block;
  transition: all 2.5s ease;
}
body .quotation p.satisfy.title {
  margin-bottom: 15px;
  font-size: 1.4em;
  text-align: center;
}
body .quotation .flavors {
  padding: 0;
  text-align: center;
}
body .quotation .flavors li {
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
}
body .quotation .flavors li:after {
  content: ' · ';
}
body .quotation .form-group {
  vertical-align: middle;
  color: #fff;
}
body .quotation .form-group span {
  float: left;
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  padding: 5px 0;
}
body .quotation .form-group span.add {
  margin-right: 20px;
}
body .quotation .form-group checkbox {
  display: inline-block;
  vertical-align: middle;
}
body .quotation .form-control {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
}
body .quotation .form-control:focus,
body .quotation .form-control:active {
  outline: none;
}
body .quotation .checkside {
  color: #fff;
  margin-right: 10px;
}
body .quotation .price {
  color: #82cec1;
  font-size: 2.6em;
  padding: 30px 0;
}
body .quotation .price:before {
  content: '$';
}
body .quotation .checkside {
  display: inline-block;
  vertical-align: middle;
}
body .quotation .squaredTwo {
  width: 28px;
  height: 28px;
  background: #82cec1;
  margin: 0 auto;
  position: relative;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
body .quotation .squaredTwo label {
  cursor: pointer;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 4px;
  top: 4px;
  background: #fff;
}
body .quotation .squaredTwo label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  content: '';
  position: absolute;
  width: 14px;
  height: 7px;
  background: transparent;
  top: 5px;
  left: 3px;
  border: 4px solid #82cec1;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body .quotation .squaredTwo label:hover::after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
  opacity: 0.3;
}
body .quotation .squaredTwo input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
}
body .quotation .margin-left {
  margin-left: 15px;
}
body .quotation .btn.btn-primary {
  background-color: #82cec1;
  color: #fff;
  border-radius: 0;
  border: 1px solid #82cec1;
  width: 100%;
  font-size: 1.4em;
  margin-top: 10px;
}
body .fruits {
  position: absolute;
  top: 350px;
  overflow: hidden;
  height: auto;
}
body .fruits img {
  width: 150px !important;
  height: auto;
  display: block;
  margin-bottom: 80px !important;
}
body .fruits.left {
  left: -200px;
}
body .fruits.right {
  right: -200px;
}
body .faq {
  padding-bottom: 40px;
}
body .faq p {
  line-height: 1.2em;
}
body .faq .question {
  color: #82cec1;
}
body .faq .answer {
  padding-bottom: 10px;
}
body footer {
  padding-bottom: 40px;
}
body footer .container p.oswald.cafe {
  border-top: 2px solid #572f0b;
  border-bottom: 2px solid #572f0b;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 2.6em;
  line-height: 0.9em;
}
body footer .social {
  padding: 0;
  text-align: center;
}
body footer .social li {
  display: inline-block;
  font-size: 3em;
  margin: 0 5px;
}
body footer .social a {
  color: #572f0b;
  text-decoration: none;
}
body footer .logo {
  margin: 10px auto;
  text-align: center;
  font-size: 8em;
  line-height: 0.9em;
}
@media screen and (min-width: 480px) {
  body .slogan.oswald {
    width: 400px;
    font-size: 2.2em;
  }
  body .slogan.oswald .satisfy {
    font-size: 1.4em;
  }
  body .helados-mobile {
    width: 400px;
    margin: -150px auto 0 auto;
    height: 350px;
  }
  body .helados-mobile img {
    width: 100px;
  }
  body .helados-mobile img.img-left,
  body .helados-mobile img.img-right {
    width: 150px;
    z-index: 1;
  }
  body .helados-mobile img.img-left {
    left: 10px;
  }
  body .helados-mobile img.img-right {
    right: 10px;
    width: 140px;
  }
  body .helados-mobile img.img-center {
    width: 300px;
    margin-left: -150px;
  }
  body .helados-mobile img.img-garrafa {
    width: 240px;
  }
  body .helados-mobile img.img-productos {
    width: 400px;
  }
  body .helados-mobile img.img-mapa {
    width: 420px;
  }
  body .helados-mobile.garrafon {
    margin-top: -110px;
  }
  body .helados-mobile.eventos {
    margin-top: -173px;
    height: 290px;
  }
  body .slick-slider.helados-mobile {
    margin-bottom: 100px;
  }
  body .slick-slider.helados-mobile .slick-slide {
    height: 440px;
  }
  body .slick-slider.helados-mobile .slick-slide img {
    width: 400px;
  }
  body .slick-slider.helados-mobile .slick-dots {
    bottom: 60px;
  }
  body .home-prod.m-top-65 {
    margin-top: -15px;
  }
  body .home-prod.m-top-65 p.oswald.cafe {
    font-size: 2.4em;
  }
  body .home-prod.m-top-65 a.cafe {
    font-size: 1em;
  }
  body .fresh-img {
    width: 270px;
  }
  body .fresh-img.garrafon {
    width: 400px;
  }
  body .shadow-img {
    width: 200px;
  }
  body .bricks .icon-garrafon {
    font-size: 10em;
  }
  body .b-top {
    border-top: 2px solid #572f0b;
  }
  body .b-bottom {
    border-bottom: 2px solid #572f0b;
  }
  body p.oswald.cafe.b-top.b-bottom {
    line-height: 0.9em;
  }
  body .branches {
    padding: 100px 0;
    text-align: center;
  }
  body .branches h2.title {
    width: 60%;
    margin-bottom: 50px;
  }
  body .branches .address {
    margin-top: 15px;
    width: 49%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  body .branches .address .title {
    font-size: 1.1em;
  }
  body .branches .address .info {
    padding-left: 15px;
    line-height: 1.1em;
  }
  body .branches .address a {
    font-size: 0.9em;
    margin-top: 5px;
  }
  body h2.oswald.cafe.text-center {
    margin-top: -20px;
  }
  body .icon-ice-cream {
    font-size: 3.2em;
  }
  body .products-menu li {
    padding: 0 30px;
    font-size: 1.8em;
  }
  body .row.all-long.products p.satisfy.text-center.blanco {
    font-size: 1.6em;
  }
  body .row.all-long.products img {
    width: 75%;
    margin: 0 auto;
  }
  body .satisfy.text-center.blanco {
    font-size: 1.8em;
  }
  body .especialidad {
    text-align: center;
    margin: 20px 0 10px 0;
    float: left;
    vertical-align: top;
  }
  body .especialidad img {
    width: 90%;
    height: auto;
    display: inline-block;
  }
  body .especialidad p.satisfy.text-center {
    font-size: 1.6em;
  }
  body .quotation,
  body .faq {
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .floating-social {
    right: 10px;
    top: 100px;
    display: block;
  }
  body .navbar-default {
    padding-top: 10px;
  }
  body .navbar-default .navbar-brand.active {
    color: transparent;
  }
  body .navbar-default .navbar-header {
    width: 0;
  }
  body .navbar-default .navbar-collapse .navbar-nav {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
  body .navbar-default .navbar-collapse .navbar-nav li {
    display: inline-block;
    float: none;
    font-size: 0.85em;
    position: relative;
    vertical-align: middle;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon {
    width: 60px;
    margin: 0 25px 0 65px;
    text-left: left;
    padding-left: 0;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon a {
    color: transparent;
    float: left;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon.active a {
    color: #fff;
    font-size: 4em;
    display: inline-block;
    overflow: hidden;
    padding-left: 0;
    margin-top: -10px;
    transition: color 3s ease;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon.active a:after {
    content: '';
    background-color: transparent;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.active a {
    background-color: transparent;
    position: relative;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.active a:after {
    content: '';
    width: 20px;
    height: 2px;
    display: inline-block;
    background-color: #fff;
    position: absolute;
    clear: both;
    left: 50%;
    margin-left: -10px;
    bottom: 10px;
  }
  body .navbar-default .navbar-collapse .navbar-nav a {
    color: #fff;
  }
  body .row.wood {
    background-image: url("../../images/wood.jpg");
    background-position: center -40px;
    padding-bottom: 320px;
  }
  body .row.wood.bricks {
    background-image: url("../../images/brick_wall.jpg");
  }
  body .slogan.oswald {
    width: 500px;
    font-size: 2.8em;
    line-height: 1.4em;
  }
  body .slogan.oswald .satisfy {
    font-size: 1.8em;
  }
  body .slogan.oswald.garrafon {
    line-height: 2em;
  }
  body .helados-mobile {
    width: 550px;
    margin: -340px auto 0 auto;
    height: 470px;
  }
  body .helados-mobile img {
    width: 100px;
  }
  body .helados-mobile img.img-left,
  body .helados-mobile img.img-right {
    width: 250px;
  }
  body .helados-mobile img.img-left {
    left: 0;
  }
  body .helados-mobile img.img-right {
    right: 0;
    width: 240px;
  }
  body .helados-mobile img.img-center {
    width: 450px;
    margin-left: -225px;
  }
  body .helados-mobile img.img-garrafa {
    width: 320px;
  }
  body .helados-mobile img.img-productos {
    width: 550px;
  }
  body .helados-mobile img.img-mapa {
    width: 580px;
  }
  body .helados-mobile.garrafon {
    margin-top: -330px;
  }
  body .helados-mobile.eventos {
    margin-top: -375px;
    height: 400px;
  }
  body .helados-mobile.map-branches {
    margin-top: -330px;
  }
  body .slick-slider.helados-mobile {
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  body .slick-slider.helados-mobile .slick-slide {
    height: 560px;
    text-align: center;
  }
  body .slick-slider.helados-mobile .slick-slide img {
    width: 550px;
    margin: 0 auto;
    position: relative;
  }
  body .slick-slider.helados-mobile .slick-dots {
    bottom: 100px;
  }
  body .slick-slider.helados-mobile .slick-dots li {
    width: 20px;
    height: 20px;
  }
  body .m-top-55 {
    margin-top: 100px;
  }
  body .m-top0 {
    margin-top: -50px;
  }
  body .home-prod {
    margin-bottom: 40px;
    display: block;
    margin-bottom: 100px;
    height: auto;
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
  body .home-prod.alternativa {
    margin-top: -70px;
  }
  body .home-prod .info {
    display: table-header-group;
    display: inline-block;
    width: 350px;
    vertical-align: middle;
  }
  body .home-prod .info p {
    width: 100%;
    margin: 0;
    padding: 20px 0;
    display: block;
  }
  body .home-prod .info p.alternativa {
    float: left;
  }
  body .home-prod .info p.oswald.cafe {
    font-size: 3em;
    display: block;
  }
  body .home-prod .info p.oswald.cafe.garrafon {
    font-size: 2em;
  }
  body .fresh-img {
    width: 290px;
    height: auto;
    display: inline-block;
    text-align: center;
  }
  body .fresh-img.garrafon {
    width: 100%;
  }
  body .fresh-img.alternativa.garrafon {
    width: 500px;
  }
  body .shadow-img {
    width: 220px;
    height: auto;
    display: inline-block;
  }
  body .images {
    display: inline-block;
    margin-right: 10px;
    height: auto;
    vertical-align: middle;
    padding-bottom: 40px;
  }
  body .images.alternativa {
    float: right;
    padding-bottom: 0;
    padding-top: 20px;
    margin-right: 0;
    margin-left: 10px;
    display: table-footer-group;
  }
  body .images.alternativa .fresh-img {
    width: 350px;
  }
  body .toppings {
    margin-top: 0;
    padding-top: 30px;
    margin-bottom: 160px;
  }
  body .bricks {
    background-image: url("../../images/brick_wall.jpg");
    height: 700px;
    display: block;
    padding-top: 80px;
  }
  body .bricks .icon-garrafon {
    font-size: 14em;
    text-align: center;
  }
  body .home-prod.m-top-230.garrafon {
    margin-top: -450px;
    margin-bottom: 50px;
  }
  body .home-prod.m-top-230.garrafon .fresh-img {
    width: 450px;
  }
  body p.oswald.cafe.b-top.b-bottom {
    line-height: 0.9em;
    font-size: 4em;
    width: 450px;
    margin: 20px auto 0 auto;
  }
  body .home-prod.m-top-65 {
    width: 100%;
    display: block;
  }
  body .slick-slider {
    width: 49%;
    display: inline-block;
    overflow: hidden;
  }
  body .branches {
    padding: 100px 0;
    text-align: center;
  }
  body .branches h2.title {
    width: 60%;
    margin-bottom: 50px;
    font-size: 4em;
  }
  body .branches .address {
    margin-top: 15px;
    width: 36%;
    text-align: left;
    display: inline-block;
    vertical-align: top;
  }
  body .branches .address .title {
    font-size: 1.3em;
  }
  body .branches .address .info {
    padding-left: 15px;
    line-height: 1.2em;
  }
  body .branches .address a {
    font-size: 1em;
    margin-top: 5px;
  }
  body h2.oswald.cafe.text-center {
    margin-bottom: 20px;
    font-size: 3em;
  }
  body .m-top0 {
    margin-top: 0;
  }
  body .icon-ice-cream {
    font-size: 2.6em;
  }
  body .products-menu li {
    font-size: 2.2em;
  }
  body .especialidad {
    margin: 25px 0 15px 0;
  }
  body .especialidad img {
    width: 60%;
    vertical-align: middle;
    display: inline-block;
  }
  body .especialidad img.scone,
  body .especialidad img.papas {
    width: 45%;
  }
  body .row.all-long.bottom {
    margin-top: -49px;
  }
  body .row.all-long h2.text-center.oswald.aguas.blanco {
    font-size: 1.8em;
    width: 360px;
  }
  body .row.all-long.products p.satisfy.text-center.blanco {
    font-size: 1.1em;
  }
  body .quotation,
  body .faq {
    width: 600px;
  }
  body .quotation p.satisfy.title,
  body .quotation .flavors {
    text-align: left;
  }
  body .quotation p.satisfy.title li,
  body .quotation .flavors li {
    display: block;
  }
  body .quotation p.satisfy.title li:after,
  body .quotation .flavors li:after {
    content: '';
  }
  body .quotation .people-population {
    top: 148px;
  }
  body .quotation .people-population.visible {
    top: 138px;
  }
  body .quotation div.text-center {
    color: #fff;
    width: 100%;
    display: block;
    overflow: hidden;
    margin-bottom: 40px;
  }
  body footer .container p.oswald.cafe {
    font-size: 3.6em;
    width: 450px;
    margin: 0 auto 20px auto;
  }
  body footer .social {
    padding: 0;
    text-align: center;
  }
  body footer .social li {
    display: inline-block;
    font-size: 3em;
    margin: 0 5px;
  }
  body footer .social a {
    color: #572f0b;
    text-decoration: none;
  }
  body footer .logo {
    margin: 10px auto;
    text-align: center;
    font-size: 8em;
    line-height: 0.9em;
  }
}
@media screen and (min-width: 992px) {
  body .especialidad img.flanke {
    width: 70%;
  }
  body .especialidad img.scone,
  body .especialidad img.papas {
    width: 45%;
  }
  body .especialidad img.tresleches {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  body .navbar-default {
    padding-top: 20px;
  }
  body .navbar-default .navbar-collapse .navbar-nav {
    text-align: center;
  }
  body .navbar-default .navbar-collapse .navbar-nav li {
    font-size: 1em;
    margin: 0 12px;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon {
    width: 70px;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon.active a {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 20px;
  }
  body .images {
    margin-right: 40px;
  }
  body .images.alternativa {
    margin-left: 40px;
  }
  body .branches {
    padding: 120px 0;
  }
  body .branches .address {
    margin-top: 15px;
    width: 24.5%;
  }
  body .branches .address .title {
    font-size: 1.6em;
  }
  body .branches .address .title .icon-garrafa {
    font-size: 1.1em;
    margin-right: 10px;
  }
  body .branches .address .info {
    padding-left: 35px;
    line-height: 1.4em;
  }
  body .branches .address a {
    margin-top: 15px;
    font-weight: bold;
  }
  body .icon-ice-cream {
    font-size: 3em;
  }
  body .products-menu li {
    font-size: 2.2em;
  }
  body .row.all-long.products p.satisfy.text-center.blanco {
    font-size: 1.4em;
  }
  body h2.litros {
    font-size: 4em;
  }
  body .litro-img {
    width: 35%;
  }
  body .especialidad img {
    width: 65%;
  }
  body .especialidad img.flanke {
    width: 70%;
  }
  body .especialidad img.scone {
    width: 50%;
  }
  body .especialidad img.papas {
    width: 55%;
  }
  body .especialidad img.tresleches {
    width: 50%;
  }
  body p.text-center.eventos {
    margin-top: -60px;
    margin-bottom: 60px;
  }
  body .faq {
    width: 880px;
  }
}
@media screen and (min-width: 1280px) {
  body .navbar-default .navbar-collapse .navbar-nav li {
    font-size: 1.2em;
    margin: 0 20px;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon {
    width: 90px;
  }
  body .navbar-default .navbar-collapse .navbar-nav li.icon.active a {
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 20px;
  }
  body .home-prod .info {
    width: 550px;
  }
  body .home-prod.m-top-65 .images {
    width: 44%;
  }
  body .images {
    margin-right: 80px;
  }
  body .images.alternativa {
    margin-left: 80px;
  }
  body .slick-slider {
    width: 44%;
    display: inline-block;
    overflow: hidden;
  }
  body .fresh-img.m-top-55 {
    width: 400px;
  }
  body .branches h2.title {
    width: 450px;
  }
  body .branches .address {
    width: 20%;
  }
  body .branches .address:first-of-type {
    margin-left: 10%;
  }
  body .row.all-long.products p.satisfy.text-center.blanco {
    font-size: 1.8em;
  }
  body .row.all-long.products img {
    width: 60%;
  }
  body .faq {
    width: 1200px;
  }
}

/*# sourceMappingURL=main.css.map */
