.satisfy
	font-family 'Satisfy', cursive
.oswald
	font-family 'Oswald', sans-serif
cafe = #572F0B

.cafe
	color cafe	
body
	background-color white
	font-family 'Lato', sans-serif
	.navbar-default
		background-color transparent
		border none
		.navbar-toggle
			border none
			&:hover
				background-color transparent
			.icon-bar
				background-color white
				height 4px
				width 35px
		.navbar-brand
			color transparent
	.row.wood
		background transparent url(../../images/madera-mobile-01.jpg) repeat-x center top
		text-align center
		color white
		padding-bottom 130px
	.logo-top.icon-garraf
		font-size 10em
		color white
		line-height .9em
	.slogan.oswald
		border-top 2px solid white
		border-bottom 2px solid white
		width 300px
		margin 0 auto
		padding 20px 0
		font-size 1.8em
		.satisfy
			font-size 1.2em
	.helados-mobile
		width 300px
		margin -150px auto 0 auto
		overflow hidden
		position relative
		height 300px
		display block
		text-align center
		img
			width 100px
			height auto
			position absolute
			display block
			&.img-left
			&.img-right
				width 120px
				z-index 1
			&.img-left
				left 20px
			&.img-right
				right 20px
				width 110px
			&.img-center
				width 226px
				z-index 2
				left 50%
				margin-left -113px
	.home-prod
		text-align center
		margin-bottom 40px
		display block
		p
			width 90%
			margin 0 auto
			padding 20px 0
		p.oswald.cafe
			font-size 2em
		a.cafe
			font-size .9em
			vertical-align middle
			span
				vertical-align middle
	.m-top-65
		margin-top -65px
	.m-top-230
		margin-top -230px
	.fresh-img
		width 190px
		height auto
		display inline-block
		text-align center
	.shadow-img
		width 120px
		height auto
		display inline-block
	.bricks
		background transparent url(../../images/brick_wall_mobile.jpg) repeat-x center top
		height 360px
		display block
		padding-top 40px
		.icon-garrafon
			font-size 8em
			text-align center
	.b-top
		border-top 2px solid cafe
	.b-bottom
		border-bottom 2px solid cafe
	p.oswald.cafe.b-top.b-bottom
		line-height .9em
	.branches
		background transparent url(../../images/paper_texture.jpg) repeat-x center top
		height auto
		display block
		padding 60px 0
		.container
			width 90%
			margin 0 auto
		h2.title
			border-top 2px solid cafe
			border-bottom 2px solid cafe
			margin 0 auto
			text-align center
			padding 10px 0
		.address
			margin-top 15px
			.title
				font-size 1.1em
			.info
				padding-left 20px
				line-height 1.2em
			a
				font-size .9em
				margin-top 5px
	footer
		padding-bottom 40px
		.container
			p.oswald.cafe
				border-top 2px solid cafe
				border-bottom 2px solid cafe
				text-align center
				padding-top 20px
				padding-bottom 20px
				font-size 2.6em
				line-height .9em
		.social
			padding 0
			text-align center
			li
				display inline-block
				font-size 3em
				margin 0 5px
			a
				color cafe
				text-decoration none
		.logo
			margin 10px auto
			text-align center
			font-size 8em 
			line-height .9em