.satisfy
	font-family 'Satisfy', cursive
.oswald
	font-family 'Oswald', sans-serif
cafe = #572F0B
blanco = #fff
gris = #F1F1F1
gris2 = #A0A1A3
azul = #00ADEF
.cafe
	color cafe
.blanco
	color blanco
body
	background-color white
	font-family 'Lato', sans-serif
	.navbar-default
		background-color transparent
		border none
		transition background-color .8s ease
		&.active
		&.active_
			background-color rgba(black, .8)
			transition all .8s ease
		.navbar-toggle
			border none
			&:hover
				background-color transparent
			.icon-bar
				background-color white
				height 4px
				width 35px
		.navbar-brand
			color transparent
			font-size 2.6em
			padding-top 10px
			padding-bottom 0
			&.active
				color white
				transition all 1.5s ease
	.row.wood
		background transparent url(../../images/madera-mobile-01.jpg) repeat-x center top
		text-align center
		color white
		padding-bottom 130px
		&.bricks
			background transparent url(../../images/brick_wall_mobile.jpg) repeat-x center -30px
	.logo-top.icon-garraf
		font-size 10em
		color white
		line-height .9em
	.logo-top.icon-garrafon
		font-size 10em
		color black
		line-height .9em
	.slogan.oswald
		border-top 2px solid white
		border-bottom 2px solid white
		width 300px
		margin 0 auto
		padding 20px 0
		font-size 1.8em
		.satisfy
			font-size 1.2em
			z-index 2
			position relative
		&.garrafon
			border-top 2px solid black
			border-bottom 2px solid black
			color black
	.helados-mobile
		width 300px
		margin -150px auto 0 auto
		overflow hidden
		position relative
		height 300px
		display block
		text-align center
		opacity 0
		img
			width 100px
			height auto
			position absolute
			display block
			&.img-left
			&.img-right
				width 120px
				z-index 1
			&.img-left
				left 20px
			&.img-right
				right 20px
				width 110px
			&.img-center
				width 226px
				z-index 2
				left 50%
				margin-left -113px
			&.img-garrafa
				width 160px
				display inline-block
				position relative
			&.img-productos
				width 260px
				display inline-block
				position relative
			&.img-mapa
				width 300px
		&.garrafon
			z-index 1
		&.eventos
		&.map-branches
			margin-top -160px
	.m-top-55
		margin-top -55px
		position relative
		z-index 1
	.text-center.eventos
		margin-top -100px
	.home-prod
		text-align center
		margin-bottom 40px
		display block
		overflow hidden
		p
			width 90%
			margin 0 auto
			padding 20px 0
		p.oswald.cafe
			font-size 2em
			position relative
			z-index 2
			&.garrafon
				font-size 1.6em
				line-height 1em
		a.cafe
			font-size .9em
			vertical-align middle
			span
				vertical-align middle
		.info .text-left
			line-height 1.2em
			.satisfy.cafe
				font-size 1.6em
				line-height 1.4em
	.m-top-65
		margin-top -65px
	.m-top-230
		margin-top -230px
	.fresh-img
		width 190px
		height auto
		display inline-block
		text-align center
		opacity 0
		position relative
		z-index 1
		&.garrafon
			width 280px
	.shadow-img
		width 120px
		height auto
		display inline-block
		opacity 0
		&.magictime
			opacity 1
			transition all 1s ease
	.bricks
		background transparent url(../../images/brick_wall_mobile.jpg) repeat-x center top
		height 360px
		display block
		padding-top 40px
		.icon-garrafon
			font-size 8em
			text-align center
			position relative
			z-index 2
	.toppings
		display block
		width 100%
		margin 40px auto 50px auto
		overflow hidden
		position relative
		padding-top 100px
		.col-xs-6
			margin 15px 0
		img
			width 100%
			height auto
			display block
	.opacity-1
		opacity 1
	.font14
		font-size 22px
	.sabores
		line-height 1.4em
	.b-top
		border-top 2px solid cafe
	.b-bottom
		border-bottom 2px solid cafe
	p.oswald.cafe.b-top.b-bottom
		line-height .9em
	.slick-slider
		.slick-arrow
			display none !important
		.slick-dots
			padding 0
			li
				display inline-block
				margin 0 5px
				width 20px
				height 20px
				border-radius 50%
				overflow hidden
				background-color rgba(cafe, .5)
				&.slick-active
					background-color cafe
				button
					background transparent
					color transparent
					border none
	.slick-slide
		display inline-block
		img
			opacity 1
	.branches
		background transparent url(../../images/paper_texture.jpg) repeat-x center top
		height auto
		display block
		padding 30px 0
		overflow hidden
		.container
			width 90%
			margin 0 auto
		h2.title
			border-top 2px solid cafe
			border-bottom 2px solid cafe
			margin 0 auto
			text-align center
			padding 10px 0
		.address
			margin-top 15px
			.title
				font-size 1.1em
			.info
				padding-left 20px
				line-height 1.2em
			a
				font-size .9em
				margin-top 5px
				&:hover
					color cafe
	.sucursal
		margin-bottom 15px
		h2.title
			font-size 1.2em
			vertical-align middle
			span
				color black
				font-size 1.4em
				vertical-align middle
		.address
			padding-left 25px
			a
				font-size .9em
				font-weight bold
				vertical-align middle
		.images
			border-bottom 1px solid cafe
			padding-bottom 20px
			figure
				padding 0
			img
				width 100%
				height auto
				display block
	.row.all-long
		margin-top 50px
		margin-bottom 50px
		.top
		.bottom
			width 100%
			height 60px
			background transparent url(../../images/rasgadura-top-mobile.png) repeat-x center top
			position relative
			z-index 2
		.bottom
			background-image url(../../images/rasgadura-bottom-mobile.png)
			margin-top -60px
		img
			width 100%
			height auto
			display block
			margin-top -60px
			position relative
			z-index 1
		iframe
			width 100% !important
			margin-top -60px
		#map
			width 100%
			height 500px
			display block
			margin-top -60px
	/*Products*/
	h2.oswald.cafe.text-center
		margin-top -90px
		&.m-top0
			margin-top 0
	h3.title
		font-size 1.1em
	.productos
		line-height .9em
	.icon-ice-cream
		font-size 2.8em
	.row.products
		img
			margin-top 0
	.products-menu
		padding 0 0 40px 0
		text-align center
		li
			display inline-block
			padding 0 20px
			font-size 1.4em
			border-right 1px solid white
			&:last-of-type
				border none
		a
			color white
			opacity .5
			transition opacity 1.5s ease
			&.active
				opacity 1
				transition opacity 1s ease
			&.visited
			&.hover
			&.active
				text-decoration none
	.row.all-long
		&.products
			background transparent url(../../images/pizarra.jpg) repeat center top
			margin-top -58px
			padding 80px 0
		&.top
			margin-bottom 0
		&.bottom
			margin-top -40px
		.col-xs-6
			margin-bottom 30px
	.satisfy.text-center.blanco
		font-size 1em
	.especialidad
		text-align center
		margin 20px 0 10px 0
		float left
		vertical-align top
		img
			width 90%
			height auto
			display inline-block
			&.scone
			&.papas
				width 75%
		p.satisfy.text-center
			font-size 1.3em
	h2.text-center.oswald.aguas
		font-size 1.4em
		border-top 1px solid white
		border-bottom 1px solid white
		width 260px
		margin 0 auto 20px auto
		padding 5px 0
	/*events*/
	.text-center.eventos
		line-height 1.4em
	.quotation
		margin-top 40px
		.people
			background-color gris
			color #999
			padding 15px
			height 40px
			position relative
			p
				margin-bottom 0
			button
				position absolute
				background-color azul
				display inline-block
				right 0
				top 0
				border none
				height 100%
				width 40px
				transform rotate(90deg)
		.disclaimer
			padding 25px 20px 40px 20px
			line-height 1.4em
			color gris2
		.form-group
			vertical-align middle
			span
				float left
				display inline-block
				vertical-align middle
				color gris2
				padding 8px 0
			checkbox
				display inline-block
				vertical-align middle
		.form-control
			background-color gris
			border-radius 0
			border none
			&:focus
				outline none
		.price
			color azul
			font-size 2.6em
			padding 30px 0
			&:before
				content '$'
		

		/* SQUARED TWO */
		.checkside
			display inline-block
			vertical-align middle
		.squaredTwo
			width 28px
			height 28px
			background azul
			margin 0 auto
			position relative
			text-align center
			display inline-block
			vertical-align middle
		.squaredTwo label
			cursor pointer
			position absolute
			width 20px
			height 20px
			left 4px
			top 4px
			background white
		.squaredTwo label:after
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"
			opacity 0
			content ''
			position absolute
			width 14px
			height 7px
			background transparent
			top 5px
			left 3px
			border 4px solid azul
			border-top none
			border-right none
			-webkit-transform rotate(-45deg)
			-moz-transform rotate(-45deg)
			-o-transform rotate(-45deg)
			-ms-transform rotate(-45deg)
			transform rotate(-45deg)

		.squaredTwo label:hover::after
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"
			opacity 0.3

		.squaredTwo input[type=checkbox]:checked + label:after
			-ms-filter "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"
			opacity 1
		.margin-left
			margin-left 15px

		.btn.btn-primary
			background-color azul
			color blanco
			border-radius 0
			border 1px solid azul
			width 100%
			font-size 1.4em
			margin-top 10px
	.faq
		padding-top 40px
		padding-bottom 40px
		p
			line-height 1.2em
		.question
			color azul
		.answer
			padding-bottom 10px

	footer
		padding-bottom 40px
		.container
			p.oswald.cafe
				border-top 2px solid cafe
				border-bottom 2px solid cafe
				text-align center
				padding-top 20px
				padding-bottom 20px
				font-size 2.6em
				line-height .9em
		.social
			padding 0
			text-align center
			li
				display inline-block
				font-size 3em
				margin 0 5px
			a
				color cafe
				text-decoration none
		.logo
			margin 10px auto
			text-align center
			font-size 8em 
			line-height .9em
@media screen and (min-width:480px)
	body
		.slogan.oswald
			width 400px
			font-size 2.2em
			.satisfy
				font-size 1.4em
		.helados-mobile
			width 400px
			margin -150px auto 0 auto
			height 350px
			img
				width 100px
				&.img-left
				&.img-right
					width 150px
					z-index 1
				&.img-left
					left 10px
				&.img-right
					right 10px
					width 140px
				&.img-center
					width 300px
					margin-left -150px
				&.img-garrafa
					width 240px
				&.img-productos
					width 400px
				&.img-mapa
					width 420px
			&.garrafon
				margin-top -110px
		.home-prod.m-top-65
			margin-top -15px
			p.oswald.cafe
				font-size 2.4em
			a.cafe
				font-size 1em
		.fresh-img
			width 270px
			&.garrafon
				width 400px
		.shadow-img
			width 200px
		/*480px*/
		.bricks
			.icon-garrafon
				font-size 10em
		.b-top
			border-top 2px solid cafe
		.b-bottom
			border-bottom 2px solid cafe
		p.oswald.cafe.b-top.b-bottom
			line-height .9em
		/*480px*/
		.branches
			padding 100px 0
			text-align center
			h2.title
				width 60%
				margin-bottom 50px
			.address
				margin-top 15px
				width 49%
				text-align left
				display inline-block
				vertical-align top
				.title
					font-size 1.1em
				.info
					padding-left 15px
					line-height 1.1em
				a
					font-size .9em
					margin-top 5px
		/*Products 480*/
		h2.oswald.cafe.text-center
			margin-top -20px
		.icon-ice-cream
			font-size 3.2em
		.products-menu
			li
				padding 0 30px
				font-size 1.8em
		.row.all-long
			&.products
				p.satisfy.text-center.blanco
					font-size 1.6em
				img
					width 75%
					margin 0 auto
		.satisfy.text-center.blanco
			font-size 1.8em
		.especialidad
			text-align center
			margin 20px 0 10px 0
			float left
			vertical-align top
			img
				width 90%
				height auto
				display inline-block
			p.satisfy.text-center
				font-size 1.6em
		/*events 480*/
		.quotation
		.faq
			width 420px
			margin-left auto
			margin-right auto
@media screen and (min-width:768px)
	body
		.navbar-default
			padding-top 10px
			.navbar-brand
				&.active
					color transparent
			.navbar-header
				width 0
			.navbar-collapse
				.navbar-nav
					width 100%
					text-align center
					text-transform uppercase
					li
						display inline-block
						float none
						font-size .85em
						position relative
						vertical-align middle
						&.icon
							width 60px
							margin 0 25px 0 65px
							text-left left
							padding-left 0
							a
								color transparent
								float left
							&.active
								a
									color white
									font-size 4em
									display inline-block
									overflow hidden
									padding-left 0
									margin-top -10px
									transition color 3s ease
									&:after
										content ''
										background-color transparent
						&.active
							a
								background-color transparent
								position relative
								&:after
									content ''
									width 20px
									height 2px
									display inline-block
									background-color white
									position absolute
									clear both
									left 50%
									margin-left -10px
									bottom 10px
					a
						color white
		.row.wood
			background-image url(../../images/madera.jpg)
			padding-bottom 320px
			&.bricks
				background-image url(../../images/brick_wall.jpg)
		.slogan.oswald
			width 500px
			font-size 2.8em
			line-height 1.4em
			.satisfy
				font-size 1.8em
			&.garrafon
				line-height 2em
		.helados-mobile
			width 550px
			margin -340px auto 0 auto
			height 470px
			img
				width 100px
				&.img-left
				&.img-right
					width 250px
				&.img-left
					left 0
				&.img-right
					right 0
					width 240px
				&.img-center
					width 450px
					margin-left -225px
				&.img-garrafa
					width 320px
				&.img-productos
					width 550px
				&.img-mapa
					width 580px
			&.garrafon
				margin-top -330px
			&.eventos
				margin-top -350px
			&.map-branches
				margin-top -330px
		.m-top-55
			margin-top 100px
		.m-top0
			margin-top -50px
		.home-prod
			margin-bottom 40px
			display block
			margin-bottom 100px
			height auto
			text-align center
			display table
			margin-left auto
			margin-right auto
			float none
			&.alternativa
				margin-top -70px
			.info
				display table-header-group
				display inline-block
				width 350px
				vertical-align middle
				p
					width 100%
					margin 0
					padding 20px 0
					display block
					&.alternativa
						float left
				p.oswald.cafe
					font-size 3em
					display block
					&.garrafon
						font-size 2em
		.fresh-img
			width 290px
			height auto
			display inline-block
			text-align center
			&.garrafon
				width 100%
			&.alternativa
				&.garrafon
					width 500px
		.shadow-img
			width 220px
			height auto
			display inline-block
		.images
			display inline-block
			margin-right 10px
			height auto
			vertical-align middle
			padding-bottom 40px
			&.alternativa
				float right
				padding-bottom 0
				padding-top 20px
				margin-right 0
				margin-left 10px
				display table-footer-group
				.fresh-img
					width 350px
		.toppings
			margin-top 0
			padding-top 30px
			margin-bottom 160px
		.bricks
			background-image url(../../images/brick_wall.jpg)
			height 700px
			display block
			padding-top 80px
			.icon-garrafon
				font-size 14em
				text-align center
		.home-prod.m-top-230.garrafon
			margin-top -450px
			margin-bottom 50px
			.fresh-img
				width 450px
		p.oswald.cafe.b-top.b-bottom
			line-height .9em
			font-size 4em
			width 450px
			margin 20px auto 0 auto
		.home-prod.m-top-65
			width 100%
			display block
		.slick-slider
			width 49%
			display inline-block
			overflow hidden
		/*768px*/
		.branches
			padding 100px 0
			text-align center
			h2.title
				width 60%
				margin-bottom 50px
				font-size 4em
			.address
				margin-top 15px
				width 36%
				text-align left
				display inline-block
				vertical-align top
				.title
					font-size 1.3em
				.info
					padding-left 15px
					line-height 1.2em
				a
					font-size 1em
					margin-top 5px
		/*Products 768*/
		h2.oswald.cafe.text-center
			margin-bottom 20px
			font-size 3em
		.m-top0
			margin-top 0
		.icon-ice-cream
			font-size 2.6em
		.products-menu
			li
				font-size 2.2em
		.especialidad
			margin 25px 0 15px 0
			img
				width 60%
				vertical-align middle
				display inline-block
				&.scone
				&.papas
					width 45%
		.row.all-long
			&.bottom
				margin-top -49px
			h2.text-center.oswald.aguas.blanco
				font-size 1.8em
				width 360px
			&.products
				p.satisfy.text-center.blanco
					font-size 1.1em
		/*events 768*/
		.quotation
		.faq
			width 600px
		/*768*/
		footer
			.container
				p.oswald.cafe
					font-size 3.6em
					width 450px
					margin 0 auto 20px auto
			.social
				padding 0
				text-align center
				li
					display inline-block
					font-size 3em
					margin 0 5px
				a
					color cafe
					text-decoration none
			.logo
				margin 10px auto
				text-align center
				font-size 8em 
				line-height .9em
@media screen and (min-width:992px)
	body
		.especialidad
			img
				&.flanke
					width 70%
				&.scone
				&.papas
					width 45%
				&.tresleches
					width 50%
@media screen and (min-width:1000px)
	body
		.navbar-default
			padding-top 20px
			.navbar-collapse
				.navbar-nav
					text-align center
					li
						font-size 1em
						margin 0 12px
						&.icon
							width 70px
							&.active
								a
									padding-left 0
									padding-top 0
									padding-bottom 20px
		.images
			margin-right 40px
			&.alternativa
				margin-left 40px
		.branches
			padding 120px 0
			.address
				margin-top 15px
				width 24.5%
				.title
					font-size 1.6em
					.icon-garrafa
						font-size 1.1em
						margin-right 10px
				.info
					padding-left 35px
					line-height 1.4em
				a
					margin-top 15px
					font-weight bold
		/*Products 1000*/
		.icon-ice-cream
			font-size 3em
		.products-menu
			li
				font-size 2.2em
		.row.all-long
			&.products
				p.satisfy.text-center.blanco
					font-size 1.4em
		.especialidad
			img
				width 65%
				&.flanke
					width 70%
				&.scone
					width 50%
				&.papas
					width 55%
				&.tresleches
					width 50%
		/*events 1000*/
		p.text-center.eventos
			margin-top -60px
			margin-bottom 60px
		.faq
			width 880px
@media screen and (min-width:1280px)
	body
		.navbar-default
			.navbar-collapse
				.navbar-nav
					li
						font-size 1.2em
						margin 0 20px
						&.icon
							width 90px
							&.active
								a
									padding-left 0
									padding-top 0
									padding-bottom 20px
		.home-prod
			.info
				width 550px
			&.m-top-65
				.images
					width 44%
		.images
			margin-right 80px
			&.alternativa
				margin-left 80px
		.slick-slider
			width 44%
			display inline-block
			overflow hidden
		.fresh-img.m-top-55
			width 400px
		.branches
			h2.title
				width 450px
			.address
				width 20%
				&:first-of-type
					margin-left 10%
		.row.all-long
			&.products
				p.satisfy.text-center.blanco
					font-size 1.8em
				img
					width 60%
		.faq
			width 1200px